<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.2" targetFramework="net471" />
  <package id="AutoMapper" version="5.2.0" targetFramework="net471" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net471" />
  <package id="DotLiquid" version="2.0.145" targetFramework="net471" />
  <package id="Dotnet.ProjInfo" version="0.9.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net471" />
  <package id="FSharp.Compiler.Service" version="17.0.1" targetFramework="net471" />
  <package id="FSharp.Compiler.Service.MSBuild.v12" version="17.0.1" targetFramework="net471" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net471" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net471" />
  <package id="Jint" version="2.5.0" targetFramework="net471" />
  <package id="Markdig" version="0.15.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net471" />
  <package id="Microsoft.Build" version="15.7.179" targetFramework="net471" />
  <package id="Microsoft.Build.Framework" version="15.7.179" targetFramework="net471" />
  <package id="Microsoft.Build.Locator" version="1.0.13" targetFramework="net471" />
  <package id="Microsoft.Build.Tasks.Core" version="15.7.179" targetFramework="net471" />
  <package id="Microsoft.Build.Utilities.Core" version="15.7.179" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Common" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp.Features" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.CSharp.Workspaces" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Features" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.VisualBasic" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Features" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.VisualBasic.Workspaces" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.CodeAnalysis.Workspaces.Common" version="2.8.2" targetFramework="net471" />
  <package id="Microsoft.Composition" version="1.0.31" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.Common" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.ConceptualDocuments" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.Engine" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.ManagedReference" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.OverwriteDocuments" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.ResourceFiles" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.RestApi" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.SchemaDriven" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.TableOfContents" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Build.UniversalReference" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Common" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.DataContracts.Common" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.DataContracts.ManagedReference" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.DataContracts.RestApi" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.DataContracts.UniversalReference" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Dfm" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Glob" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.HtmlToPdf" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.MarkdigEngine" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.MarkdigEngine.Extensions" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.MarkdigEngine.Validators" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.MarkdownLite" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Metadata.ManagedReference" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Metadata.ManagedReference.Common" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Metadata.ManagedReference.FSharp" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Metadata.ManagedReference.Roslyn" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.Plugins" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DocAsCode.YamlSerialization" version="2.37.2" targetFramework="net471" />
  <package id="Microsoft.DotNet.Cli.Utils" version="1.0.0-preview2-003121" targetFramework="net471" />
  <package id="Microsoft.DotNet.Compiler.Common" version="1.0.0-preview2-003121" targetFramework="net471" />
  <package id="Microsoft.DotNet.Files" version="1.0.0-preview2-003121" targetFramework="net471" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.DotNet.ProjectModel" version="1.0.0-rc3-003121" targetFramework="net471" />
  <package id="Microsoft.DotNet.ProjectModel.Workspaces" version="1.0.0-preview2-003121" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net471" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.SelfHost" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="14.0.262-masterA5CACE98" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Setup.Configuration.Interop" version="1.16.30" targetFramework="net471" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="14.0.61-master2D0FF461" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json.Schema" version="2.0.10" targetFramework="net471" />
  <package id="NuGet.Common" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Configuration" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.DependencyResolver.Core" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Frameworks" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.LibraryModel" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Packaging" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Packaging.Core" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0" targetFramework="net471" />
  <package id="NuGet.ProjectModel" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.Protocol" version="4.5.0" targetFramework="net471" />
  <package id="NuGet.RuntimeModel" version="3.5.0-beta2-1484" targetFramework="net471" />
  <package id="NuGet.Versioning" version="4.5.0" targetFramework="net471" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
  <package id="Nustache" version="1.15.3.5" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="RestSharp" version="106.3.1" targetFramework="net471" />
  <package id="SimpleSyndicate" version="1.0.38" targetFramework="net471" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net471" />
  <package id="System.Composition" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net471" />
  <package id="System.Console" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.StackTrace" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net471" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net471" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.5.24" targetFramework="net471" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net471" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net471" />
  <package id="System.Xml.XPath.XDocument" version="4.3.0" targetFramework="net471" />
  <package id="YamlDotNet.Signed" version="4.2.2" targetFramework="net471" />
</packages>